{{define "footer"}}

<div class = "container">
        <div class = "row">

            <div class = "col-md-4">
                <a href="/work">
                    <button type="button" class="btn btn-secondary btn-block">Work List</button>
                </a>
            </div>

            <div class = "col-md-4">
                <a href="/weekend">
                    <button type="button" class="btn btn-block">Weekend List</button>
                </a>
            </div>
            
            <div class = "col-md-4">
                <a href="/groceries">
                    <button type="button" class="btn btn-success btn-block">Grocery List</button>
                </a>
            </div>

        </div>
        
        <div class = "row">

            <div class = "col-md-4">
                <a href="/resolutions">
                    <button type="button" class="btn btn-info btn-block">Resolutions</button>
                </a>
            </div>

            <div class = "col-md-4">
                <a href="/hobby">
                    <button type="button" class="btn btn-warning btn-block">Hobby List</button>
                </a>
            </div>

            <div class = "col-md-4">
            <a href="/design">
                <button type="button" class="btn btn-danger btn-block">Design Wishlist</button>
            </a>
            </div>
            
           

        </div>
        <p style="text-align: center;">Built by Mathew Lee using Golang, VueJS and Postgres.</p>

    </div>

{{end}}