{{define "dash"}} {{end}}

<!DOCTYPE html>

<head>

    {{template "head" .}}
    <style>
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 40%;
        }

        p {
            text-align: center;
        }
    </style>

</head>

<body>

    <div id="dashJumbo" class="jumbotron">
        <h1 class="display-3">Dashboard</h1>
    </div>


    <div class="container">

        <form action="/login" method="post">

            <p>Username</p>
            <input type="text" class="form-control" name="username">
            <br>

            <p>Password</p>
            <input type="password" class="form-control" name="password">
            <br>

            <button type="submit" class="btn btn-primary">Login</button>

        </form>
        <br>
        <br>
        <br>

        <!-- <div class="container">
            <h1 style="text-align: center;">Placeholder</h1>
            <img src="https://golang.org/doc/gopher/pencil/gopherswrench.jpg" alt="">
            <img src="https://img.devrant.com/devrant/rant/r_557673_5ZQ9F.jpg" alt="">
            <img src="https://files-warehouse.com/files/stickers/ff/ff8f/ff8f3d3d03c54faa1ff27ff3d55bc236.jpg" alt="">
            <img src="https://blog.golang.org/gopher/header.jpg">
            <p>Golang Gopher created by Renee French</p>

        </div> -->

        <footer class="footer">

            {{template "footer" .}}

        </footer>

</body>

{{template "foot" .}}


</html>