{{define "dash"}} {{end}}

<!DOCTYPE html>

<head>

    {{template "head" .}}
    <style>
    img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    }
    p {
        text-align: center;
    }
    </style>

</head>

<body>

    <div id="dashJumbo" class="jumbotron">
        <h1 class="display-3">Dashboard</h1>
    </div>

    <div class = "container">
        <h1 style="text-align: center;">Placeholder Puppies</h1>
        <img src="https://upload.wikimedia.org/wikipedia/commons/4/48/Mopshond2_03-10-2005.jpg" alt="">
        <p>Courtesy of Wikimedia Creative Commons</p>
        <img src="https://upload.wikimedia.org/wikipedia/commons/c/ce/Kelsey_n_Penny_%28Welsh_Corgis%29.jpg" alt="">
        <p>Courtesy of Wikimedia Creative Commons</p>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0a/Queen_Elizabeth_Pocket_Beagle_puppy.jpg/680px-Queen_Elizabeth_Pocket_Beagle_puppy.jpg" alt="">
        <p>Courtesy of Wikimedia Creative Commons</p>
        <img src="https://blog.golang.org/gopher/header.jpg">
        <p>Golang Gopher created by Renee French</p>
    
    </div>

    <footer class="footer">

        {{template "footer" .}}

    </footer>

</body>

{{template "foot" .}}


</html>