<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link rel="stylesheet" href="../static/CSS/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

</head>

<body>

    <div class="container">
        <div class="jumbotron">
            <h1 class="display-3" id = "jumbohead" >Jumbo heading</h1>
        </div>
    </div>

    <form action="/" method="post">
        
        <div class="container">
        <div class="form-group">
            <label for=""></label>
            
            <input type="text" class="form-control"
                name="name" id="" aria-describedby="helpId" placeholder="">

                <input type="text" class="form-control"
                name="species" id="" aria-describedby="helpId" placeholder="">
            
            <br>
            <button type="submit" class="btn btn-primary|secondary|success|danger|warning|info|light|dark|link">Submit</button>
        </div>
        </div>
    
    </form>

    <div class="container">
        <div id = "vueApp1">
            <p><root></root></p>
        </div>
    </div>
    

</body>

<script src="../static/Javascript/vue.js"></script>
<script src="../static/Javascript/vueapp.js"></script>


</html>