<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- stylesheet order matters!!!! -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/CSS/main.css">


</head>

<body>

                <div class="jumbotron">
                    <h1 class="display-3">Todo List</h1>
                </div>

    <div class="container">
        <div id="vueApp1">
            <div>

                <form action="/" method="post">

                    <p>Name</p>
                    <input type="text" class="form-control" name="name">

                    <br>
                    <p>Species</p>
                    <input type="text" class="form-control" name="species">

                    <br>

                    <button type="submit" class="btn btn-primary">Submit</button>


                </form>

                <br>

                <table style="width:100%">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Species</th>
                    </tr>
                    <tr v-for="task in tasks" @click="sub(task)">
                        <td>[[task.ID]]</td>
                        <td>[[task.Name]]</td>
                        <td>[[task.Species]]</td>
                    </tr>

                </table>


            </div>
        </div>
    </div>

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.js"></script>
<script src="../static/Javascript/vue.js"></script>
<script src="../static/Javascript/vueapp.js"></script>
<!-- <script src="../static/Javascript/test.js"></script> -->


</html>