{{define "dash"}} {{end}}

<!DOCTYPE html>

<head>

    {{template "head" .}}
    <style>
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 40%;
        }

        p {
            text-align: center;
        }
    </style>

</head>

<body>

    <div id="dashJumbo" class="jumbotron">
        <h1 class="display-3">Login Page</h1>
    </div>


    <div class="container">

        <form action="/login" method="post">

            <p>Username</p>
            <input type="text" class="form-control" name="username">
            <br>

            <p>Password</p>
            <input type="password" class="form-control" name="password">
            <br>

            <button type="submit" class="btn btn-primary">Login</button>

        </form>
        <br>
        <br>
        <br>
    </div>

    <footer class="footer">

        {{template "footer" .}}

    </footer>

</body>

{{template "foot" .}}


</html>