/* Jumbotron stylings */
/* .jumbotron {
    color: goldenrod;
    background-color: rgb(128, 0, 0);
    text-align: center;
} */

#dashJumbo {
    color: rgb(163, 60, 60);
    background-color: wheat;
    text-align: center;
}

#workJumbo {
    color: aliceblue;
    background-color: gray;
    text-align: center;
}

#weekendJumbo {
    color: aliceblue;
    background-color: black;
    text-align: center;
}

#groceryJumbo {
    color: aliceblue;
    background-color: #5cb85c;
    text-align: center;
}

#resolutionJumbo {
    color: aliceblue;
    background-color: #42b6ca;
    text-align: center;
}

#hobbyJumbo {
    color: black;
    background-color: rgba(240, 204, 0, 0.959);
    text-align: center;
}

#designJumbo {
    color: aliceblue;
    background-color: #ca3e39;
    text-align: center;
}
/* ################################################################# */

/* List Stylings */
#lowPriority {
    background-color:rgba(255, 217, 0, 0.85);
}

#medPriority {
    color:aliceblue; 
    background-color:rgba(255, 68, 0, 0.85);
}

#highPriority {
    color:aliceblue;
    background-color: rgba(128, 0, 0, 0.85);
}

/*Footer Styling*/
footer {
    background-color: #4F5C5F;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 5px;
  
  }
  
  .footer p {
      color: #C3C3C3;
      font-size: 13px;
  }
  
  .footer a {
      color: white;
  }


/* ################################################################# */
/* Other */

thead {

    background-color: rgb(80, 80, 80);
    color: aliceblue;

}
